</div>
<footer class="bs-footer" role="contentinfo">
<div class="container text-center">
	<p>Copyright©2012 优酷 youku.com 版权所有 京ICP证060288号</p>
</div>
</footer>
<script type="text/javascript">
window.cs = window.console;
</script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<script type="text/javascript" src="js/effect.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
	initplayer('<?php echo $vid;?>', '<?php echo $info['title'] ?>', <?php echo $alltime; ?>);
</script>
</body>
</html>
